<br />
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <h5 class="card-header text-center font-weight-bold text-uppercase">
        Configuración de Software
      </h5>
      <div class="card-body">
        <div *ngIf="cargando" class="text-center py-4">
          Cargando...
        </div>
        <div *ngIf="!cargando" class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="row espacio">
              <div class="col-md-4" style="text-align: left;">
                Minutos de inactividad
              </div>
              <div class="col-md-8">
                <dx-number-box
                  [(value)]="minutosInactividad"
                  [min]="1"
                  [max]="480"
                  placeholder="Ej: 30"
                ></dx-number-box>
                <small class="text-muted d-block mt-1">
                  Tiempo en minutos tras el cual se cierra sesión por inactividad
                  (por defecto 30).
                </small>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-md-12" style="text-align: center;">
                <button
                  class="btn btn-success"
                  style="background-color: #ff5722; border-color: #ff5722;"
                  (click)="guardar()"
                >
                  Guardar
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
