.carIn {
  margin-top: 0.5em;
}

.espacio {
  margin-top: 1.5em;
}

.botones button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btnIcons2 {
  background-color: white;
  color: #0061a9;
  width: 100%;
  margin: 0.5em;
}
