

.menu{
    margin-top: 1em;
}

::ng-deep .dx-theme-material-typography h2 {
    font-weight: bold;
    font-size: 40px;
}


.btnSearch{
    text-align: center;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.select{
    text-align: center;
    background-color: white;
}

::ng-deep .remiPro .dx-selectbox input {  
    text-align: center;  
} 

::ng-deep .remiPro .dx-selectbox-popup-wrapper .dx-list-item {  
    text-align: center;  
} 

.btn-sect{
    background-color: transparent;
    color: red;
    text-align: center;
    font-size: 1.3em;
    border: none;
}

.btn-sect-warning{
    background-color: transparent;
    color: rgb(255, 133, 3);
    text-align: center;
    font-size: 1.3em;
    border: none;
}

.btn-sect-success{
    background-color: transparent;
    color: green;
    text-align: center;
    font-size: 1.3em;
    border: none;
}

.btn-center{
    text-align: center;
}

.cs-popup{
    margin: 1.5em;
}